.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
width: 250px;
height: 150px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
}

.jcarousel-skin-tango .jcarousel-clip {
overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
}

.jcarousel-skin-tango .jcarousel-item {
width: 250px;
height: 150px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
}

.jcarousel-skin-tango .jcarousel-item-vertical {
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
   .jcarousel-skin-tango .jcarousel-next-horizontal:focus {
   }

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
   .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
   .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
   .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
cursor: default;
   }

.jcarousel-skin-tango .jcarousel-prev-horizontal {
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
   .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
   }

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
   .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
   .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
   .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
cursor: default;
   }

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
   .jcarousel-skin-tango .jcarousel-next-vertical:focus {
   }

.jcarousel-skin-tango .jcarousel-next-vertical:active {
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
   .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
   .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
   .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
cursor: default;
   }

.jcarousel-skin-tango .jcarousel-prev-vertical {
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
   .jcarousel-skin-tango .jcarousel-prev-vertical:focus {
   }

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
   .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
   .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
   .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
cursor: default;
   }

