.newSlider ul {
   list-style-type: none;
   text-align: center;
}

.newSlider ul li {
    height: 150px;
    margin: 12px;
	background-color: #f9f9f9;
    border: 1px solid lightgrey;
}

.newSlider h2 {
    margin: 0px;
    padding: 0px;
	font-size: 11px;
	font-weight: bold;
}

.newSlider a {
    color: red;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}


body {
	margin: 0px 0;
	padding: 0;
	background: url("/images/background.png") repeat-x scroll center top #891c1d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a {
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: red;
}
#wrapper {
	background: url("/images/wrapper.png") repeat-y scroll center top;
}

.floatRight {
float: right;
}
.floatLeft {
float: left;
}

/* Header */

#header {
	width: 940px;
	height: 26px;
	margin: 0 auto;
}


#header a {
	text-decoration: none;
}

#searchhint {
    position:relative;
	top:12px;
	left:716px;
	width:212px;
	height:13px;
}

#search {
    position:relative;
	top:26px;
	left:690px;
	width:160px;
}
#searchbutton {
    position:relative;
	left:865px;
	top:-2px;
	width:56px;
}

/* Menu */

#navspace {
    padding-top: 14px;
	font-size: 1.4em;
	color: #A9A8A8;

}

#leftnavside {
    position:relative;
	left:-25px;
	top:-49px;
	z-index:0;
	width:25px;
}

#rightnavside {
    position:relative;
	left:940px;
	top:-115px;
	z-index:0;
	width:25px;
}

#menu {
	width: 940px;
	height: 47px;
	margin: 0 auto;
	z-index:2;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 125px;
	height: 47px;
	padding: 0px 0 0 0;
	background: url(/images/NavRepeater.png) repeat-x left bottom;
	text-align: center;
	letter-spacing: -1px;
	text-decoration: none;
	color: #FFFFFF;
	font-variant: small-caps;
	font-weight: bold;
	border-left:1px solid #b6b6b6;
	
	
}

#menu a:hover {
	background: url(/images/NavRepeaterHighlight.png) repeat-x left top; 
}

/* Content */

#SecondaryNav {
    background: url(/images/NavSecondary.png) no-repeat;
	position:absolute;
	top:73px;
	margin-left:163px;
	width:777px;
	height:35px;
}

#content {
	width: 940px;
	margin: 0 auto;
	padding-top: 35px;
}

#colOne {
        margin: 0;
	float: left;
	width: 550px;
	padding-left: 30px;
	padding-top: 20px;
}

#colTwo {
	float: right;
	width: 300px;
	padding-right: 30px;
	padding-top: 20px;
}
/* Column 1 */
#colOne h1, #colTwo h1 {
   font-size: 14px;
   color: #808080;
   font-weight: bold;
   text-transform: uppercase;
   margin-left: 10px;
   margin-right: 10px;
}


/***********************
* Front Page - Bar List
************************/
#barList {}

div.selected {
    background: #cccccc;
}

.barListItem {
    width: 100%;
    height: 85px;
    border: 1px solid lightgray;
}

.barListItem img {
    width: 90px;
    height: 75px;
    float: left;
    padding: 5px;
}

.barListItem p {}

.barListItem a {
    text-align: center;
}


/**************************
* Front Page - Google Map
***************************/
#gmap {
   border: 1px lightgray solid;
   color: black;  
   margin-left:0px;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

#map {
   height:478px;
   margin-top:10px;
}

#sponsored {
   border: lightgrey solid 1px;
   background: #f9f9f9 url(/images/titleHeaderBG.gif) repeat-x top;
}

#sponsoredFront h1 p {
   float:right;
   margin-top: -1px;
   color: #B3B3B3;
}

#sponsoredFront h1 p a {
   color: #B3B3B3;
   font-size: 11px;
   text-transform: lowercase;
}

#movieHolder {
   margin-left:100px;
   margin-right: 100px;
   height: 100%;
   background-color: black;
}

.barFeatureImages {
   padding-right: 5px;
   float: right;
}

#sponsoredFront {
   height: 190px;
   overflow: auto;
   border: 1px lightgray solid;
   background: #F9F9F9 url(/images/titleHeaderBG.gif) repeat-x top;
   font-size: 12px;
  color: #4D4D4D;
}

.event {
   background-color: #F9F9F9;
}

.event h2, .event span {
   font-weight: bold;
   padding-top: 10px;
   color: #4D4D4D;
}
.event h2 {
   font-size: 15px;
}


.event img {
   padding: 10px 10px 10px 10px;
   float: left;
}

#liveFeedFrontHead {
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

#liveFeedFrontBot {
   background: url(/images/video_back.png) #F9F9F9;
   height: 264px;
}

#liveFeedFrontHead h1 span a{
   float: right;
   font-size: 12px;
   color: #A8A8A8;
   margin-top: -18px;
   font-weight: bold;
}

#liveFeed {
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

#liveFeed h1 span a{
   float: right;
   font-size: 12px;
   color: #A8A8A8;
   font-weight: bold;
}

#specialEventsFront h1 span {
   float: right;
   font-size: 11px;
   color: #B3B3B3;
}

.sEventFront img{
   float: left;
}

#specialEventsFront h2, #specialEventsFront p {
   padding-top: 8px;
   padding-left: 15px;
}

#specialEventsFront {

   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

.sEventFront p {
   font-size: 12px;
   font-weight: bold;
   color: #B3B3B3;
}

.sEventFront h2 {
   font-size: 14px;
   font-weight: bold;
   color: #808080;
}

#specialEvents {

   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

#specialEvents h1 span {
   float: right;
}


#lff_One {

}

#lff_Two {

}

#photosFront {

   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
   background-color: #F9F9F9;
}
#photos {

   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}
#stats {

   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}
/* Column 2 */

#streaming {
   height: 380px;
   border: 1px lightgray solid;
   overflow: auto;
   padding-top: 0;
   margin-top: 0;
}

#streamingBG {
   margin-top: 0px;
   padding-top: 1px;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

#streaming select {
   font-size: 10px;
   float: right;
}

.streamingBar {
   border: 1px #A8A8A8 solid;
   background-color: #F9F9F9;
   padding: 3px 3px 3px 3px;
}

#visitWebsite img{

margin-left: 0px;
float: left;
}

#streamingBarText {
   width: 170px;
   text-align: left;
}

.streamingBar h3, .streamingBar p, .streamingBar a {
   margin: auto;
   padding-right: 0px;
   padding-top: 4px;
}
.streamingBar h3 {
   font-size: 12px;
   color: #999999;
   font-weight: bold;
}
.streamingBar p {
   font-size: 11px;
   color: #A8A8A8;
   font-weight: bold;
}
.streamingBar a {
   font-size: 12px;
   color: red;
   font-weight: bold;
}

#androidApp {   
   height: 470px;
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
   overflow: auto;
}

#localBars {
   height: 170px;
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
   overflow: auto;
}

#localBars ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#localBars ul li {
   padding-left: 12px;
   height: 24px;
   font-size: 14px;
   padding-top: 5px;
}

#localBars ul li a {
   font-weight: bold;
   color: #333333;
   font-size: 12px;
   font-weight: bold;
}

.lbar_b {
background-color: #E6E6E6;
}

.lbar_a {
background-color: white;
}
.lbar_a span, .lbar_b span {
   font-size: 12px;
   color: #333333;
}

#hotbars {
   height: 180px;
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
   overflow: auto;
}

#hotbars ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#sponsoredFront ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#barFeaturesFront ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#barFeatures ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#sponsoredFront ul li, #sponsoredFront ul li a {
   padding-left: 6px;
   font-weight: bold;
   height: 30px;
   color: #333333;
   font-size: 12px;
   padding-top: 5px;
}
#barFeaturesFront ul li, #barFeaturesFront ul li a {
   padding-left: 6px;
   font-weight: bold;
   height: 30px;
   color: #333333;
   font-size: 12px;
   padding-top: 5px;
}

#hotbars ul li, #hotbars ul li a {
   padding-left: 6px;
   font-weight: bold;
   height: 24px;
   color: #333333;
   font-size: 12px;
   padding-top: 5px;
}

.bar_b {
background-color: #E6E6E6;
}

.bar_a {
background-color: white;
}

#virtualTour {
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
   width: 300px;
   margin: 0 auto;
   overflow: hidden;
}

#virtualTour img {

}

#virtualBar{
   text-align: center;
}

#virtualBar h2 {
   padding: 0;
   margin: 0;
   color: red;
   font-size: 14px;
}

#virtualBar a {
   font-size: 11px;
   color: #333333;
   background-color: #F9F9F9;
}

#mycarousel {
   margin: auto;
   padding: 0;
   list-style-type: none;
   text-align: center;
}

#featuredAd {
   text-align: center;
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
   background-color: #221E1F;
}

#featuredAd a img{
   border: 0;
}

#featuredAd img, #featuredApp img {
   padding-top: 2px;
}

#featuredApp {
   text-align: center;
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
   background-color: #221E1F;
   height: 190px;
}

#featuredApp a img {
   border: 0;
}

#barInfoFront {
   background-color: #F9F9F9;
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

#barInfoFront img {
   float: right;
   margin: 0;
   padding: 0;
   border: 0;
   padding-right: 25px;
   padding-top: 5px;
}

#barInfoFrontWrap h2, #barInfoFrontWrap p {
   margin: 0;
   padding: 0;
   padding-left: 10px;
   padding-top: 10px;
}


#barInfoFrontWrap {
   float: left;
   padding-left: 5px;
}

#barInfoFront h2 {
   font-size: 24px;
   color: #E01F26;
}

#barInfoFront p{
   font-size: 13px;
   color: #8E8E8E;
}

#barInfo {
   
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}
#barFeatures ul li, #barFeatures ul li a {
  padding-left: 6px;
  font-weight: bold;
  height: 24px;
  color: #333333;
  font-size: 12px;
  padding-top: 5px;
  }


#barInfo img {
   float: right;
}

.barFeatures_b {
background-color: #E6E6E6;
}

.barFeatures_a {
background-color: white;
}

.lbar_a span, .lbar_b span {
   font-size: 12px;
   color: #333333;
}
#barFeatures {

   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

#barFeaturesFront {

   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}
#barMap {
   
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

#support {
   
   border: 1px lightgray solid;
   background: url(/images/titleHeaderBG.gif) repeat-x top;
}

#visitWebsite img {
   float: left;
   text-align: left;
   margin-left: 10px;
   padding-bottom: 10px;

}


/* Footer */

#footer {
	clear: both;
	width: 990px;
	height:90px;
	margin: 0px auto;
	padding: 5px 0;
	background: url(/images/footerbar.png) repeat-x left bottom;
}

#footer p, #footer a {
	margin-top: 54px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #ababab;
}
