


/* CONTENT STYLES */




#content h2 {
	text-align: center;
	font-weight: 100;
}

#content2
{
	font-size: 11px;
	margin: 20px;
}



#information div {
	float: right;
	width: 368px;
	margin-bottom: 20px;
}

#information img {
	margin-top: -13px;
}

#information p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 14px;
	line-height: 20px;
	margin-top: 0px;
}

#information p b {
	color: #e01e26;
}



#searchBar {
	clear: both;
	margin-top: -30px;
}

#searchForm {
position: relative;
left: 130px;
top: 10px;
}

#searchButton {
	float:left;
	padding-top: 20px;
	padding-left: 8px;
	width: 106px;
	height: 106px;
}




#slogan
{
        font-size: 14px;
	
	color: white;
	float: right;
}


.gmnoprint table td{
   color:black;
}

#google-maps {
	clear: both;
	width: 890px;
	padding-top: 15px;
}

#map {
	width: 536px;
	height: 450px;
  border: 3px solid red;
	color: black;
	margin-left:0px;
	/*float: left;*/
}

#map a
{
   color: #000;
}


#side_bar {
	overflow: auto;
	height: 260px;
	width: 260px;
}

#side_bar a {
	color: #ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}


#control {
	float:right;
  /*border: 1px solid black;*/
	/*font-family: verdana, arial, tahoma;*/
	font-weight: bold;
	padding: 6px;
	background-color: #E01F26;
	color:#EEEEEE;
}

#control a {
	color: #EEEEEE;
}

#hbsAds {
	margin-top: 18px;
	margin-left: 18px;
	margin-bottom: 20px;
	height: 150px;
}
#hbsAdSaloonPoker{
	background: url(/images/ads/WebsiteAffiliateBanner.gif) no-repeat;
	cursor: pointer;
	width: 550px;
	height: 150px;
	float:left;
	margin-left: -20px;
}
#hbsAdTwistedTea {
	background: url(../images/ad_twistedtea.jpg) no-repeat;
	cursor: pointer;
	width: 550px;
	height: 150px;
	float:left;
	margin-left: -20px;
}
#hbsAdBartendingBlogs {
	background: url(../images/ad_bartendingblog.jpg) no-repeat;
	cursor: pointer;
	width: 290px;
	height: 150px;
	float: right;
	margin-right: -10px;
}
/* user front end styles */
#userFrontTop {
   background: url(../images/userFrontTopBox.png) no-repeat;
   width: 800px;
   height: 170px;
   margin-left: 20px;
   padding-left: 10px;
   padding-top: 5px;
   text-align: left;
   color: #FFFFFF;
}

#userFrontH3 {
   font-size: 24px;
   color: #FFFFFF;
   text-align: left;
}

#userFrontTopRight {
   float: right;
   margin-top: -100px;
   margin-right: 20px;

}

a.userFrontSmallLinks {
   text-decoration: none;
   border: 0;
   color: #FFFFFF;
}

#bathroomWall {
   background-image: url(../images/bathroomwall.png);
   width:600px;
   padding-top:10px;
   height:535px;
   margin: 0 auto;
}


/* USER BACK END STYLES */

#userTopInfo {
   height: 250px;
}

#userLeft {
   float: left;
   width: 400px;
}

#userRight {
   float: right;
   width: 400px;
}

#myBars {
   width: 400px;
}

#myBarsContent {
   width: 390px;
   height: 300px;
   overflow: auto;
}
#myBars {
   height: 361px;
}

#currentEvents{

}

#welcometopage{
   height: 250px;
}

#currentEventsInner {
   height: 300px;
   overflow: auto;
   border-style: solid;
   border-width: 2px;
   border-color: #FF0000;
}

#friendSuggest{
}

#friendSuggestInner {
   height: 300px; 
   overflow: auto;
   border-style: solid;
   border-width: 2px;
   border-color: #FF0000;

}
#friendList {
}

#friendListInner {
   height: 300px; 
   overflow: auto;
   border-style: solid;
   border-width: 2px;
   border-color: #FF0000;

}
.trueFriends {
   width: 100px;
   height: 100px;
   text-align:center;
   float: left;
   margin-left: 0px;
}

#userChat {
   background-image: url(../images/chat.png);
   padding-top: 5px;
   padding-left: 0px;
   width: 400px;
   height: 361px;
}

#userSearch {
   width: 400px;
   height: 150px; 
}

#searchBody {
   width:100%;
   height:100%;
   overflow:auto;
}

/* LOGIN STYLES */





/* GO GREEN STYLES */

#goGreen{
	color: #999999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-bottom: 50px;
	margin-top: -20px;
	margin-left: -20px;
}

#goGreenHeader {}
.goGreenSection {
	clear: both;
	margin-left: 40px;
}

.goGreenLink {
	cursor:pointer;
	float:left;
	padding: 20px;
}

.goGreenInfo {
	margin: 0px 0px 20px 120px;
	padding-top: 10px;
	width: 650px;
}

.goGreenInfo h2, .goGreenInfo p {
	text-align:left !important;
	padding: 0px !important;
	margin: 0px;
}




/* FAQ STYLES */

#faq {
	margin-top: 20px;
}

#faqSubheader {
	margin: 20px 20px 40px 20px;
}

#faqSubheader img {
	margin-top: 20px;
	margin-left: 10px;
}

#faqSubheader div {
	float: right;
	width: 380px;
	margin-bottom: 20px;
}

#faqSubheader p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
}

.faqSection {
	margin-left: 70px;
	margin-bottom: 20px;
	clear: both;
}

.faqSection img {
	float: left;
}

.faqText {
	margin-left: 50px;
	width: 680px;
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.faqText p {
	margin: 0px;
}
.question {
	color: #ff0000;
	padding-top: 20px !important;
}
.answer {
	color: #999999;
	padding-top: 15px !important;
}

#faqForm {
	background: url(../images/background_medium.png) no-repeat;
	width: 553px;
	height: 355px;
	padding-left: 25px;
	padding-top: 5px;
	color: #ffffff;
	margin-left: 160px;
}

#faqForm a {
	color: #ffffff !important;
}

#faqQuestionBtn {
	margin: 30px 20px 50px 80px;
}




/* CONTACT US STYLES */

#contactus {
	margin-top: 20px;
}

#contactSubheader {
	margin: 20px 20px 40px 20px;
}

#contactSubheader img {
	margin-top: 15px;
	margin-left: 85px;
}

#contactSubheader div {
	float: right;
	width: 370px;
	margin-bottom: 20px;
}

#contactSubheader p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
}

#contactForm {
	background: url(../images/contact_panel.png) no-repeat;
	width: 782px;
	height: 566px;
	margin-left: 55px;
	padding: 2px 0px;
	color: #ffffff;
}
#contactForm td {
	padding-left: 5px;
}
#contactForm h2 {
	margin: 0px;
}



/*  HOOK A BAR UP STYLES */
#addABar {
	margin-top: 20px;
}

#addABarSubheader {
	margin: 20px 20px 40px 20px;
}
#addABarSubheader img {
	/*margin-top: 15px;*/
	margin-left: 65px;
}
#addABarSubheader div {
	float: right;
	width: 470px;
	margin-bottom: 20px;
}
#addABarSubheader p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 14px;
	line-height: 20px;
	/*margin-top: 10px;*/
}
#addABarForm {
	background: url(/images/background_medium.png) no-repeat;
	width: 553px;
	height: 355px;
	margin-top: 70px;
	margin-left: 170px;
	padding-top: 35px;
	padding-left:80px;
	color: #ffffff;
}

p.smallNote {
	font-size:11px !important;
	line-height:normal !important;
	margin-top: -15px;
}





/* APPAREL STYLES */

#apparel {
	margin-top: 20px;
}
#apparelSubheader {
	margin: 20px 20px 40px 20px;
}
#apparelSubheader img {
  margin-top: -14px;
	margin-left: 5px;
}
#apparelSubheader div {
	float: right;
	width: 350px;
	margin-bottom: 20px;
}

#apparelSubheader p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 14px;
	line-height: 20px;
	/*margin-top: 10px;*/
}
#apparelItems {
	margin-top: 70px;
}
.apparelItem {
	margin-bottom: 50px;
}
.apparelItem h2 {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}



/* BAR PAGE STYLES */
.submenu_selected {
	text-decoration:underline;
	color: #FFFFFF;
}

.submenu_unselected {
	text-decoration:none;
	color: #FFFFFF;
}


#bar_live {
	margin-top: 40px;
	width: 320px;
}
#bar_virtualTour {
	margin-top: 40px;
	width: 320px;
}



#bar_info { 
	float: right;
	width: 200px;
	text-align: center;
	margin: 80px 135px 0px 0px;
}
#bar_info h1 {
 color: #df1e26;
 font-size:26px;
 margin: 0px;
}

#bar_info p, #bar_info p a {
	color: #828383;
	font-size: 16px;
	margin: 0px;
}

#subscribe_button {
	width: 106px;
	height: 106px;
}


.box { /* you can specify a width here, or allow it to default to 100% of its containing box */
   margin-bottom: 10px;
}

.box h2 {
   float: left; /* this allows you to float content to the right */
   width: 200px; /* the width is variable and depends on the title content */
   padding-top: 10px;
   padding-left: 12px;
}

/* top border */

.tr {
height: 142px; /* i have set the height to 40px to allow for header content */
width: 805
margin-top: 25px;
background: url(/themes/default/images/barfeatures_background_top.png) top right no-repeat;
}

.tl { /* title div */
clear: both;
float: left;
margin-left: 60px;
width: 100%; /* required */
height: 60px; /* this is variable but must match .tl height */
}
.features {
   text-align: center;
   color: #FFFFFF;
}

.featuresNav {
   margin-left: 70px;
   margin-bottom: 10px;
}

/* mid border */

.mr {
background: url(/themes/default/images/barfeatures_background_middle.png) right repeat-y;
}

.ml {
/*background: url(images/bricket1/ml.gif) left repeat-y; */
}

/* bottom border */

.br {
background: url(/themes/default/images/barfeatures_background_bottom.png) bottom right no-repeat;
margin-right: 1px;
}

.bl { /* content div */
max-height: auto; /* here is where you set your heights, I am arbitrarily setting it to 100px */
	padding-top: 10px;
	text-align: center;
	color:#FFFFFF;
	padding-top: -100px;
   padding-bottom: 30px;
/* background: url(images/bricket1/bl.gif) bottom left no-repeat; */
}

#barSpecialContent {
   color: #FFFFFF;
   margin-top: -140px;
   margin-left: 100px;
   
}
#bar_menu {}
#bar_events {
margin-left: 100px;
margin-top: -70px;
}

/* MY PAGE STYLES */
#my_page_header {
	margin-left: 65px;
}

#recommend_ff {
	text-align: center;
}

#myPageMenu {
	margin-bottom: 30px;
	margin-top: 150px;
}

#myPageMenu h2 {
	background: url(/images/user_headerbar.png) no-repeat;
	width: 839px;
	height: 52px;
	margin-left: 25px;
	padding: 16px 0px 0px 30px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
}

#myPageMenu li {
	margin-top: -20px;
	margin-left: 60px;
	list-style: url(../images/triangle.png);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	clear: both;
}

#myPageMenu a {
   	margin-top: 10px;
	margin-left: 60px;
/*	padding-right: 30px; */
	margin-bottom: 5px;
	float: left;
}








/* FOOTER STYLES */

#footer {
	color: #333333;
	background: #FFFFFF url(../images/footer.jpg) no-repeat;
	height: 132px;
	width: 890px;
}


#footer p {
        padding: 20px;
	font-weight: 100px;
	text-align: center;
	font-size: 11px;
}



/* COLOR CLASSES */

.white
{
   color: white;
}

/* SCHEDULE PAGE */
tr.hide{display:none}
