#emailList {
position: relative;
left: -5px;
      font-size: 12px;
width: 100%;
       text-align: left;
       border-collapse: collapse;
       background-color: #FFE4E9;
}

#emailList th {
padding: 5px;
	 text-align: center;
	 border-bottom: 1px solid #B77370;
}

#emailList td {
padding: 5px;
}

#emailSystem {
width: 100%;
       border-collapse: collapse;
       /*      background: #B77370;*/
padding: 0px;
}

#successMessage {
   margin: 0px auto 0px auto;
   text-align: center;
   padding: 5px;
   background-color: transparent;
   width: 200px;
}

#folderList {
   font-weight: 600;
   vertical-align: top;
width: 100px;
       padding-top: 13px;
       padding-left: 5px;
background: transparent;
}

#currentFolder {
position: relative;
left: -5px;
padding: 3px;
	 margin-right: -3px;
float: left;
width: 100px;
       background-color: #B42F2F;
color: #FFFFFF;
display: block;
}
#folderItem {
   left: -5px;
   padding: 3px;
   margin-right: -3px;
   float: left;
   width: 100px;
   display: block;
}

#composeNapkin {
   position: relative;
   left: -5px;
   padding: 3px;
   margin-right: -3px;
   margin-top: -10px;
   margin-bottom: 10px;
   float: left;
   width: 100px;
   display: block;
}

#currentNapkin {
   position: relative;
left: -5px;
padding: 3px;
	 margin-right: -3px;
	 margin-top: -10px;
	 margin-bottom: 10px;
float: left;
width: 100px;
display: block;
	 background-color: #B42F2F;
color: #FFFFFF;
}

.emailAbstractUnread {
   background-color: #FFFFFF;
   color: #B77370;
}

.emailAbstractUnread a {
   color: #000000;
   font-weight: bold;
}

.emailAbstractRead {
   background-color: #FFE4E9;
}

.emailFooter {
   border-top: 1px dotted #B77370;
}

.conversationSubject {
   font-size: 14pt;
   font-weight: 800;
}

.conversationMessage {
   text-align: left;
   width:700px;
}

#conversation {
   position: relative;
   left: -5px;
   width: 700px;
   border: 2px solid #B42F2F;
}

.conversationHeader {
   border-bottom: 1px solid #B42F2F;
}

.conversationHeaderRepeat {
   border-bottom: 1px solid #B42F2F;
   padding-top: 35px;
}

.conversationReply {
   border-top: 1px solid #B42F2F;
}

.conversationFrom {
   float: left;
}

.conversationDateStamp {
   float: right;
}

#composer {
position: relative;
left: -5px;
      font-size: 12px;
      width: 100%;
             text-align: left;
	     border: 2px solid #B42F2F;
/*	            border-collapse: collapse;*/
/*		           background-color: #B42F2F;*/
			   }

#secondList {
   vertical-align: top;
}

#composer tr {
   background-color: #FFFFFF;
}

#composer form {
   width: 585px;
}

#composer #fieldName {
   width: 85px;
   float: left;
   text-align: right;
   font-weight: 800;
}

#composer #fieldInput {
   width: 500px;
   float: right;
   text-align: left;
}

#composer #spacer {
   clear: both;
}
