body {font-family:Arial, Helvetica, sans-serif;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}

td.cal {
	font-size:12px; 
	text-align:center
}


#calendar {
	background:#000;
	border-spacing:1px;
}

#calendar td.calh {
	font-size:12px; 
	color:#000;
	background:#fff;
	width:32px;
	height:25px;
}

#calendar th.calh {
	font-size:14px; 
	height:25px;
	color:#000;
	background:#fff;	
	text-align:center;
}


#calendar td{
	text-align:center;
	height:25px;
        background:#fff;
        font-size:14px;
}
<!-- Cell Division -->

#calendar ._normal {
	font-size:11px;
	background:#fff;
}
#calendar ._today{
	background:#9da2fb;
}
#calendar ._current{
	background:#EEE6C4;
}
#calendar ._blanks {
	background:#f5f5f5;
}

#event_month {
  width:250px;
}

#event_month th {
  font-weight:bold;
}

#event_day {
  width:400px;
  text-align:left;
}

#event_day th {
  font-weight:bold;
}

#event_day_time {
  font-weight:bold;
  width:100px;
  font-size:12px;
}
#event_day_event {
  font-weight:bold;
  font-size:12px;
  
}
#event_day_body {
  font-size:12px;
}