/* Gallery Styles */

#motioncontainer {
/*margin:0 auto;  Uncomment this line if you wish to center the gallery on page */
width: 100%; /*50%;*/ /* Set to gallery width, in px or percentage */
height: 250px; /* Set to gallery height */
}

#motioncontainer a img {
border: 1px solid #cccccc; /* Set image border color */
}

#motioncontainer a:hover img {
border: 1px solid navy; /* Set image border hover color */
}

#statusdiv {
background-color: lightyellow;
border: 1px solid gray;
padding: 2px;
position: absolute; /* Stop Editing Gallery Styles */
left: -300px;
visibility: hidden;
}

#motioncontainer a:hover {
color: red; /* Dummy definition to overcome IE bug */
}

#trueContainer td {
text-align:center;
}
/* End Gallery Styles */

/*
-----------------------------------------------------------------------------------------
MASTHEAD
-------------------------------------------------------------------------------------- */
#left-button {
   position:absolute;
   top:0;
   left:0;
   width:80px;
   height:250px;
   background:url(../images/left_button.png) no-repeat 0 0;
   z-index:100;
   cursor:pointer;
}
* html #left-button {
   /*--- hide png background for IE5 --*/
      background-image:none;  /*--- insert png background for IE6 --*/
      voice-family: "\"}\"";
      voice-family:inherit;
      background-image:none;
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/left_button.png);
}
#right-button {
   position:absolute;
   top:0;
   right:0;
   width:80px;
   height:250px;
   background:url(../images/right_button.png) no-repeat 0 0;
   z-index:100;
   cursor:pointer;
}
* html #right-button {
   /*--- hide png background for IE5 --*/
      background-image:none;  /*--- insert png background for IE6 --*/
      voice-family: "\"}\"";
      voice-family:inherit;
      background-image:none;
      filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/right_button.png);
}
